In [14]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()
    uni_words_one = set(words_one)

In [15]:
#a.lower().split()
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [3]:
print(a)

This is a story about dogs
our canine pets
Dogs are furry animals

In [12]:
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uni_words_two = set(words_two)

In [16]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [18]:
all_uni_words = set()
all_uni_words.update(uni_words_one)

In [20]:
all_uni_words.update(uni_words_two)

In [21]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [22]:
full_vocab = dict()
i = 0

for word in all_uni_words:
    full_vocab[word] = i
    i = i + 1

In [23]:
full_vocab

{'fun': 0,
 'surfing': 1,
 'furry': 2,
 'animals': 3,
 'a': 4,
 'dogs': 5,
 'our': 6,
 'canine': 7,
 'about': 8,
 'popular': 9,
 'are': 10,
 'pets': 11,
 'waves': 12,
 'this': 13,
 'catching': 14,
 'sport': 15,
 'water': 16,
 'story': 17,
 'is': 18}

In [24]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = [''] *len(full_vocab)

In [25]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [26]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [27]:
one_text

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [28]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [29]:
one_freq

[0, 0, 1, 1, 1, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1]

In [30]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [31]:
two_text

['this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

In [32]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

In [33]:
two_freq

[1, 2, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 3]

In [34]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [35]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [36]:
all_words

['fun',
 'surfing',
 'furry',
 'animals',
 'a',
 'dogs',
 'our',
 'canine',
 'about',
 'popular',
 'are',
 'pets',
 'waves',
 'this',
 'catching',
 'sport',
 'water',
 'story',
 'is']

In [38]:
import pandas as pd
bow = pd.DataFrame(data=[one_freq,two_freq], columns=all_words)

In [39]:
bow

,fun,surfing,furry,animals,a,dogs,our,canine,about,popular,are,pets,waves,this,catching,sport,water,story,is
0,0,0,1,1,1,2,1,1,1,0,1,1,0,1,0,0,0,1,1
1,1,2,0,0,1,0,0,0,1,1,0,0,1,1,1,1,1,1,3